{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load leaflet_tags %}
{% load static %}

{% include 'map-header.html' with title="Browse Records" %}
{% include 'records-navbar.html' with search_url='www:map' %}

    <script type="text/javascript">
        var locations = [
            {% for obj in filter.qs %}
                {% if obj.geom %}
                {
                    "type": "Feature",
                    "properties": {
                        "record_request_url": "{{ obj.record_request_url }}"
                    },
                    "geometry": {{ obj.geom|safe }}
                },
                {% endif %}
            {% endfor %}
        ];
    </script>

    <main role="main" class="col-md-9 ml-sm-auto">
        <div id="map"></div>
    </main>

<script>
    $("#quicksearch").focus(function(e){
        $(".sidebar-sticky").fadeOut(500);
        $(".sidebar-search-message").fadeIn(1000);
    }).focusout(function(e){
        $(".sidebar-sticky").fadeIn(500);
        $(".sidebar-search-message").fadeOut(100);
    });
</script>

<style>
.leaflet-container {  /* all maps */
    width:  100%;
    height: 600px;
}
</style>

<script src="{% static 'js/map.min.js' %}"></script>

{% include 'records-footer.html' %}
