{% load bootstrap4 %}
{% load static %}
{% url 'www:search' as search_url %}
{% url 'www:index' as home_url %}

    <nav class="navbar navbar-dark fixed-top bg-dark navbar-expand-lg flex-md-nowrap p-0">
        <input class="col-10 col-md-3 form-control form-control-dark" type="text" id="quicksearch" placeholder="Search..." aria-label="Search...">
        <a class="navbar-brand col-2 col-md-9" href="">
            <span class="d-md-inline d-none">Virtual Mitchell</span>
            <span class="d-md-none">VM</span>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 bg-light sidebar navbar-expand-md">
                <div class="col sidebar-search-message small" style="display: none">
                    <p><em>Type and select a tag</em></p>
                </div>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column collapse navbar-collapse" id="filterToggle">
                        <li class="nav-item">
                          <h5 class="col">Additional Filters:</h5>
                          <hr>
                        </li>
                        <li class="nav-item">
                            {% if filter %}
                            <form action="" method="get" class="form-group" id="searchform">
                                {% bootstrap_form filter.form layout='vertical' size='small' show_label=False field_class='col' label_class='col col-form-label' %}
                                <div class="col text-center">
                                    {% bootstrap_button '<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Filter' button_class 'btn-primary btn-sm' %}
                                    {% bootstrap_button '<span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Clear' button_class='btn-dark btn-sm' button_type='link' href=home_url %}
                                </div>
                            </form>
                            {% endif %}   
                        </li>
                        <li class="nav-item border-top">
                            <div class="col small site-details">
                                <p>Site built by <a href="https://github.com/ColinWaddell/VirtualMitchell" target="_blank">Colin Waddell</a></p>
                                <p>All content belongs to Glasgow City Council's <a href="http://www.mitchelllibrary.org/virtualmitchell/" target="_blank">Virtual Mitchell</a></p>
                            </div>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-dark navbar-toggler" data-toggle="collapse" data-target="#filterToggle" aria-controls="filterToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="glyphicon glyphicon-tasks"></span>
                    </button>              
                </div>
            </nav>

                <script>
                    $(function() {
                        /* Autocomplete */
                        $("#quicksearch").autocomplete({
                            source: "/api/tags",
                            minLength: 3,
                            select: function( event, ui ) {
                                window.location.href = "{% url 'www:search' %}?&tags=" + ui.item.label;
                            },
                        });

                        /* Tidy up url on search */
                        $('#searchform').submit(function () {
                            $(this)
                                .find('input[name]')
                                .filter(function () {
                                    return !this.value;
                                })
                                .prop('name', '');
                        });

                        /* Kludge for django-filters */
                        $('#id_tags').attr('size', 10)
                        $('#id_date__year__lt').attr('step', 10)
                        $('#id_date__year__lt').attr('min', 1690)
                        $('#id_date__year__lt').attr('max', 2000)
                        $('#id_date__year__gt').attr('step', 10)
                        $('#id_date__year__gt').attr('min', 1690)
                        $('#id_date__year__gt').attr('max', 2000)

                    });;
                </script>
