{% load bootstrap4 %}
{% load static %}

{% include 'header.html' with title="Assign Record Location" %}
{% include 'navbar.html' with search_tag="tags" %}

    <main role="main" class="col-md-9 ml-sm-auto">
        <form method="post">
            {% csrf_token %}
            <div hidden>{% bootstrap_form form %}</div>
                <recordlocation></recordlocation>
            <hr />
            {% bootstrap_button content='Update' button_type='submit' button_class='btn-primary' %}
        </form>
    </main>

    <script src="{% static 'js/recordlocation.min.js' %}"></script>

{% include 'records-footer.html' %}
