{# tutorial/templates/tutorial/people.html #}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html>
    <head>
        <title>Virtual Mitchell{% if title %}: {{ title }}{% endif %}</title>
        <link href="{% static 'css/vm.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'js/vm.js' %}"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117975660-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-117975660-2');
    </script>

    </head>
    <body>
