{% load bootstrap4 %}
{% load static %}

{% include 'header.html' with title="Edit Record" %}
{% include 'navbar.html' with search_tag=None %}

{% url 'www:recordlocation' record.id as recordlocation_edit %}

    <main role="main" class="col-md-9 ml-sm-auto">
        <h3>Edit: <span class="text-secondary">{{ record.record_number }}</span></h3>
        <hr />
        <form method="post">
            {% csrf_token %}
            {% if record.location_set.count %}
                <h3>Assigned Location:</h3>
                <ul>
                    {% for location in record.location_set.all %}
                        <li>{{ location.display_name }}</li>
                    {% endfor %}
                </ul>
                {% bootstrap_button content='Adjust Location' button_type='link' href=recordlocation_edit button_class='btn-success' %}
            {% else %}
                {% bootstrap_button content='Assign Location' button_type='link' href=recordlocation_edit button_class='btn-success' %}
            {% endif %}
            <hr />
            {% bootstrap_form form %}
            <hr />
            {% bootstrap_button content='Update' button_type='submit' button_class='btn-primary' %}
        </form>
        <hr />
    </main>

    <script>
        $('#id_date').datepicker({
            dateFormat: "yy-mm-dd"
        });
    </script>

{% include 'records-footer.html' %}
