{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% include 'records-header.html' with title="Home" %}
{% include 'records-navbar.html'%}

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% render_table table 'records-table.html' %}
    </main>

<script>

$(document).keyup(function(e) {
    var KEY_LEFT = 37;
    var KEY_RIGHT = 39;
    var NEXT = $('li.next > a').length ? $('li.next > a')[0].href : null;
    var PREV = $('li.previous > a').length ? $('li.previous > a')[0].href : null;

    switch(e.keyCode){
      case KEY_LEFT:
        if (PREV){
          window.location.href = PREV;
        }
        break;
      
      case KEY_RIGHT:
        if(NEXT){
          window.location.href = NEXT;
        }
        break;
    }

});

</script>

{% include 'records-footer.html' %}
