{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load static %}

{% include 'records-header.html' with title="Browse Records" %}
{% include 'records-navbar.html' %}

    <main role="main" class="col-md-9 ml-sm-auto">
        {% render_table table 'records-table.html' %}
    </main>

<script>

$("#quicksearch").focus(function(e){
    $(".sidebar-sticky").fadeOut(500);
    $(".sidebar-search-message").fadeIn(1000);
}).focusout(function(e){
    $(".sidebar-sticky").fadeIn(500);
    $(".sidebar-search-message").fadeOut(100);
})
</script>

{% include 'records-footer.html' %}
