
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 65px 0 0; /* Height of navbar */
    @include media-breakpoint-down(md) { 
      position: inherit;
    }
  }
  
  @include media-breakpoint-up(md) {
    .sidebar-sticky {
      position: relative;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 70px; /* Space for fixed navbar */
    @include media-breakpoint-down(md) { 
      padding-top: 20px;
    }
  }
  
  /*
   * Navbar
   */
  
  .nav {
    @include media-breakpoint-down(md) { 
      display: block;
    }
  }

  .navbar-brand {
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 0;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, .25);
    color: $info !important;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  .navbar-collapse {
    align-items: inherit;
  }
  
  .navbar-toggler {
    background: $dark;
    margin: 0 0 10px 10px;
  }

  .nav-item {
    label{
      padding-top: 10px;
    }
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
  }
  
  .ui-state-focus,
  .ui-widget-content .ui-state-active,
  .ui-state-active{
    background: $pink !important;
    border: 0 !important;
  }

  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }

  /*
   * Filters
   */

  #id_tags{
      height: 200px;
  }

  /*
   * Big Table
   */
  table.records{
    th.orderable a{
        color: darken($secondary, 20%);
    }

    th.orderable.desc,
    th.orderable.asc{
      a{
        color: $primary;
      }
    }

    td {
      vertical-align: bottom;
      padding-bottom: 20px;
    }

    .record-thumbnail{
      .record-thumbnail-img{
        display: block;
        width: 100%;
        height: 200px;
        margin: 10px 0 0 0;
        border-radius: 5px 5px 0 0;
      }

      .image-caption {
        width: 100%;
        color: $white;
        background: $info;
        border-radius: 0 0 5px 5px;
        display: block;
        font-size: 0.8em;
        text-align: center;
        padding: 5px 0 5px 0px;
        margin: 0 0 10px 0;
        font-style: italic;
        &:hover{
          text-decoration: none;
          background: darken($info, 5%);
        }
      }
    }
  }

  #quicksearch {
    &:focus{
      box-shadow: none;
      background: #efefef;
    }
    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #ddd;
        opacity: 1; /* Firefox */
    }  
  }